Этапы задания: 

1. Установите git и dvc. 
2. Создайте папку lab4 в корне проекта. 
3. Настройте папку проекта для работы с git и dvc. 
4. Настройте git репозиторий. 
5. Настройте удаленное хранилище файлов, например на Google Disk или S3. 
6. Создайте датасет о пассажирах “Титаника”, например, catboost.titanic(). 
7. Создайте датасет, в котором содержится информация о классе (“Pclass”),  поле (“Sex”) и возрасте (“Age”) пассажира. Сделайте коммит в git и push в dvc. 
8. Создайте новую версию датасета, в котором пропущенные (nan) значения в поле “Age” будут заполнены средним значением. Сделайте коммит в git и push в dvc. 
9. Создайте новый признак с использованием one-hot-encoding для строкового признака “Пол” (“Sex”). Сделайте коммит в git и push в dvc. 
10. Выполните переключение между всеми созданными версиями датасета.

## Создание датасета

Папку lab4 и установку библиотек сделали ранее в терминале перед созданием блокнота.

In [1]:
from catboost import datasets
import pandas as pd

train, test = datasets.titanic()
data = pd.concat([train,test])[['Pclass', 'Sex', 'Age']]

In [2]:
data.sample(5)

     Pclass     Sex   Age
144       2    male  18.0
663       3    male  36.0
249       2    male  54.0
114       1  female  63.0
736       3  female  48.0

## Сохранение датасета. Первый пуш в dvc

In [3]:
data.to_csv('titanic_data.csv')

Индексируем датасет в dvc

In [4]:
!dvc add ./titanic_data.csv

                                                                core>⠋ Checking graph
Adding...
!
Collecting files and computing hashes in titanic_data.csv |0.00 [00:00,     ?fil

!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md

!
  0%|          |Adding titanic_data.csv to cache      0/1 [00:00<?,     ?file/s]

!
  0%|          |Checking out /home/user/Desktop/UrFU_M0/1 [00:00<?,    ?files/s]
100% Adding...|████████████████████████████████████████|1/1 [00:00, 27.12file/s]

To track the changes with git, run:

	git add .gitignore titanic_data.csv.dvc

To enable auto staging, run:

	dvc config core.autostage true

Пушим в хранилище

In [5]:
!dvc push

Collecting                                            |1.00 [00:00,  170entry/s]
Pushing
!
  0% Checking cache in '1OAkggea2i7Edb7-Bphn6vNSTcB5M0pwt/files/md5'| |0/? [00:0

!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md

!
  0%|          |Pushing to gdrive                     0/1 [00:00<?,     ?file/s]
  0%|          |Pushing to gdrive                     0/1 [00:00<?,     ?file/s]

!

  0%|          |/home/user/Desktop/UrFU_MLOps_c0.00/20.1k [00:00<?,        ?B/s]

 40%|███▉      |/home/user/Desktop/UrFU_ML8.00k/20.1k [00:04<00:06,    2.02kB/s]


100%|██████████|Pushing to gdrive                 1/1 [00:05<00:00,  5.22s/file]
Pushing
1 file pushed

Проверим что изменилось в git (всё в текущей директории)

In [6]:
!git status

On branch lab4_dvc
Untracked files:
  (use "git add <file>..." to include in what will be committed)
	./

nothing added to commit but untracked files present (use "git add" to track)

Закоммитим изменения в гит. Видны следующие изменения:
- добавился .gitignore с нашим датасетом, чтоб в гит не улетал
- добавился .dvc файл, в котором идёт индексация коммитов в dvc
- добавился блокнот, в котором мы работаем

In [8]:
!git add .
!git commit -m "add titanic dataset"

[lab4_dvc ade1d19] add titanic dataset
 3 files changed, 642 insertions(+)
 create mode 100644 lab4_dvc/.gitignore
 create mode 100644 lab4_dvc/titanic_data.csv.dvc
 create mode 100644 lab4_dvc/work_with_data.ipynb

## Второй пуш в dvc. Средний возраст

In [9]:
data.loc[data['Age'].isna(), 'Age'] = data['Age'].mean()
data.to_csv('./titanic_data.csv')

Проверим видит ли dvc изменения

In [10]:
!dvc status

titanic_data.csv.dvc:
	changed outs:
		modified:           titanic_data.csv

In [11]:
!dvc add titanic_data.csv

⠋ Checking graph                                       core>
Adding...
!
Collecting files and computing hashes in titanic_data.csv |0.00 [00:00,     ?fil

!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md

!
  0%|          |Adding titanic_data.csv to cache      0/1 [00:00<?,     ?file/s]

!
  0%|          |Checking out /home/user/Desktop/UrFU_M0/1 [00:00<?,    ?files/s]
100% Adding...|████████████████████████████████████████|1/1 [00:00, 33.86file/s]

To track the changes with git, run:

	git add titanic_data.csv.dvc

To enable auto staging, run:

	dvc config core.autostage true

In [12]:
!dvc push

Collecting                                            |1.00 [00:00,  197entry/s]
Pushing
!
  0% Checking cache in '1OAkggea2i7Edb7-Bphn6vNSTcB5M0pwt/files/md5'| |0/? [00:0

!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md

!
  0%|          |Pushing to gdrive                     0/1 [00:00<?,     ?file/s]
  0%|          |Pushing to gdrive                     0/1 [00:00<?,     ?file/s]

!

  0%|          |/home/user/Desktop/UrFU_MLOps_c0.00/24.7k [00:00<?,        ?B/s]

 32%|███▏      |/home/user/Desktop/UrFU_ML8.00k/24.7k [00:01<00:03,    5.00kB/s]


100%|██████████|Pushing to gdrive                 1/1 [00:03<00:00,  2.74s/file]
Pushing
1 file pushed

In [13]:
!git status

On branch lab4_dvc
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   titanic_data.csv.dvc
	modified:   work_with_data.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [14]:
!git commit -am "fill NA in Age with mean"

[lab4_dvc a215c0d] fill NA in Age with mean
 2 files changed, 63 insertions(+), 32 deletions(-)

## Третий пуш в dvc. OHE пола

In [15]:
data = pd.get_dummies(data, columns=['Sex'])
data.to_csv('titanic_data.csv')

In [16]:
!dvc status

titanic_data.csv.dvc:
	changed outs:
		modified:           titanic_data.csv

In [17]:
!dvc add titanic_data.csv

⠋ Checking graph                                       core>
Adding...
!
Collecting files and computing hashes in titanic_data.csv |0.00 [00:00,     ?fil

!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md

!
  0%|          |Adding titanic_data.csv to cache      0/1 [00:00<?,     ?file/s]

!
  0%|          |Checking out /home/user/Desktop/UrFU_M0/1 [00:00<?,    ?files/s]
100% Adding...|████████████████████████████████████████|1/1 [00:00, 38.18file/s]

To track the changes with git, run:

	git add titanic_data.csv.dvc

To enable auto staging, run:

	dvc config core.autostage true

In [18]:
!dvc push

Collecting                                            |1.00 [00:00,  173entry/s]
Pushing
!
  0% Checking cache in '1OAkggea2i7Edb7-Bphn6vNSTcB5M0pwt/files/md5'| |0/? [00:0

!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md

!
  0%|          |Pushing to gdrive                     0/1 [00:00<?,     ?file/s]
  0%|          |Pushing to gdrive                     0/1 [00:00<?,     ?file/s]

!

  0%|          |/home/user/Desktop/UrFU_MLOps_c0.00/31.5k [00:00<?,        ?B/s]

 25%|██▌       |/home/user/Desktop/UrFU_ML8.00k/31.5k [00:01<00:04,    5.34kB/s]


100%|██████████|Pushing to gdrive                 1/1 [00:03<00:00,  2.69s/file]
Pushing
1 file pushed

In [19]:
!git status

On branch lab4_dvc
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   titanic_data.csv.dvc

no changes added to commit (use "git add" and/or "git commit -a")

In [20]:
!git commit -am "OHE Sex column"

[lab4_dvc 89e7818] OHE Sex column
 1 file changed, 2 insertions(+), 2 deletions(-)

## Переключение между версиями

Посмотрим на текущий датасет

Это самая последняя версия

In [26]:
pd.read_csv('titanic_data.csv', index_col=0).sample(5)

     Pclass        Age  Sex_female  Sex_male
545       1  64.000000       False      True
307       1  17.000000        True     False
425       3  29.881138       False      True
595       3  36.000000       False      True
721       3  17.000000       False      True

In [28]:
!git log --oneline

81eec0a (HEAD -> lab4_dvc) delete dvc notebook from git
89e7818 OHE Sex column
a215c0d fill NA in Age with mean
ade1d19 add titanic dataset
7d5c011 configure dvc
b81f199 (origin/main, origin/HEAD, main) add link to model_testing.py in README.md
a686de5 Change MSE to RMSE
ed387a8 Rename jenkins pipeline
2b79b61 Edit README.md
457fa4a add first jenkins pipeline
bc98959 Added model_preparation and model_testing
0dccd7e Added model_preparation.py
4f3d21c edit .gitignore
89e35da Delete .DS_Store
581895a rm DS_Store
31b813a edit gitignore for ignore mac files
531a096 edit model_preprocessing and fix error
00193ae edit pipeline and premissions for py files
ad816cd add pipeline file and create empty model files
97a3083 add requirements.txt
7fe8380 make data_creation.py and model_preprocessing.py
d692939 Initial commit

Переключимся на ade1d19 коммит, в котором мы добавили датасет

In [30]:
!git checkout ade1d19

Note: switching to 'ade1d19'.

You are in 'detached HEAD' state. You can look around, make experimental
changes and commit them, and you can discard any commits you make in this
state without impacting any branches by switching back to a branch.

If you want to create a new branch to retain commits you create, you may
do so (now or later) by using -c with the switch command. Example:

  git switch -c <new-branch-name>

Or undo this operation with:

  git switch -

Turn off this advice by setting config variable advice.detachedHead to false

HEAD is now at ade1d19 add titanic dataset

In [31]:
!dvc pull

Collecting                                            |1.00 [00:00,  189entry/s]
Fetching
!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md
Fetching
Building workspace index                              |2.00 [00:00,  846entry/s]
Comparing indexes                                    |3.00 [00:00, 1.41kentry/s]
Applying changes                                      |1.00 [00:00,   268file/s]
M       titanic_data.csv
1 file modified

Видно, что это исходный датасет и в нём нет изменений

In [33]:
display(pd.read_csv('titanic_data.csv', index_col=0).sample(5))
pd.read_csv('titanic_data.csv', index_col=0)['Age'].isna().sum()

     Pclass     Sex   Age
269       1  female  35.0
147       3    male  22.0
241       2  female  45.0
757       2    male  18.0
388       3    male  21.0

263

Переключимся по другим коммитам

In [34]:
!git checkout a215c0d 
!dvc pull

Previous HEAD position was ade1d19 add titanic dataset
HEAD is now at a215c0d fill NA in Age with mean
Collecting                                            |1.00 [00:00,  203entry/s]
Fetching
!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md
Fetching
Building workspace index                              |2.00 [00:00,  858entry/s]
Comparing indexes                                    |3.00 [00:00, 1.49kentry/s]
Applying changes                                      |1.00 [00:00,   270file/s]
M       titanic_data.csv
1 file modified

Здесь пустых Age нет

In [35]:
display(pd.read_csv('titanic_data.csv', index_col=0).sample(5))
pd.read_csv('titanic_data.csv', index_col=0)['Age'].isna().sum()

     Pclass     Sex        Age
97        1    male  23.000000
129       3    male  24.000000
60        3    male  22.000000
286       3    male  29.881138
774       2  female  54.000000

0

Вернёмся к последнему коммиту

In [38]:
!git checkout 81eec0a 
!dvc pull

Previous HEAD position was a215c0d fill NA in Age with mean
HEAD is now at 81eec0a delete dvc notebook from git
Collecting                                            |1.00 [00:00,  195entry/s]
Fetching
!
  0% Checking cache in '/home/user/Desktop/UrFU_MLOps_course/.dvc/cache/files/md
Fetching
Building workspace index                              |2.00 [00:00,  858entry/s]
Comparing indexes                                    |3.00 [00:00, 1.48kentry/s]
Applying changes                                      |1.00 [00:00,   272file/s]
M       titanic_data.csv
1 file modified

In [39]:
display(pd.read_csv('titanic_data.csv', index_col=0).sample(5))
pd.read_csv('titanic_data.csv', index_col=0)['Age'].isna().sum()

     Pclass        Age  Sex_female  Sex_male
407       1  50.000000       False      True
358       3  29.881138       False      True
764       3  16.000000       False      True
67        1  47.000000       False      True
406       3  51.000000       False      True

0

In [41]:
!git add lab4_dvc.ipynb
!git commit -m "add lab4_dvc notebook"

HEAD detached at 81eec0a
Untracked files:
  (use "git add <file>..." to include in what will be committed)
	lab4_dvc.ipynb

nothing added to commit but untracked files present (use "git add" to track)

In [40]:
!dvc status

Data and pipelines are up to date.